.announcement {
  display: none;
  position: relative;
  background-color: #F3C969;
  height: 35px;
  transition: height 0.5s ease-in-out;
  overflow: hidden;
  
  @include media-query('medium-up') {
    display: block;
  }
}

.announcement__text {
  font-weight: 400;
  margin: 0;
  line-height: 35px;
  text-align: center;
}

.announcement__close {
  position: absolute;
  line-height: 34px;
  top: 0;
  right: 15px;
  width: 20px;
  height: auto;

  svg {
    fill: #444;
  }
  
  &:hover {
    cursor: pointer;
    
    svg {
      fill: #000;
    }
  }
}