$inventory-diameter: 70px;

.product {
    position: relative;
    width: 100%;
    max-width: 400px;
    flex-shrink: 1;
    padding: 30px;
    height: 100%;
    text-align: center;
    text-decoration: none;

    @include media-query('medium-up') {
        width: 50%;
    }

    @include media-query('large-up') {
        width: 100 / 3 * 1%;
    }
}

.product__image-wrapper {
    position: relative;
    transition: transform 0.125s ease-in-out, box-shadow 0.125s ease-in-out;
    box-shadow: 0 5px 100px -50px #979494;

    &:hover {
        transform: scale(1.1);
        box-shadow: 0 5px 100px -35px #979494;

        & ~ .product__bottom-container {
            transform: translateY(10px);
        }
    }
}

.product__sale-tag {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: $color-highlight-one;
    color: $color-text-one;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 5px 10px;
    top: 15%;
}

.product__sold-out {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

.product__inventory {
    position: absolute;
    top: 30px - ($inventory-diameter / 2);
    right: 30px - ($inventory-diameter / 2);
    background-color: var(--color-inventory-one);
    color: #000000;
    display: flex;
    flex-direction: column;
    width: $inventory-diameter;
    height: $inventory-diameter;
    border-radius: $inventory-diameter;
    z-index: 1;
    justify-content: center;
    align-items: center;

    &--sold-out {
        background-color: #e3e3e3;
    }
}

.product__inventory-number {
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
}

.product__inventory-text {
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
}

.product__bottom-container {
    transition: transform 0.125s ease-in-out;
}

.product__title {
    color: #000000;
    font-weight: 400;
    font-size: 18px;
    margin: 20px 0 10px;
}

.product__price {
    color: #000000;
    font-weight: 200;
}
