html {
  background-color: $color-background-four;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

.container {
  max-width: $grid-large;
  margin: auto;
  padding: 60px $grid-gutter;
  
  @include media-query('medium-up') {
    padding: 80px $grid-gutter;
  }
}