<div class="blog  container">
    
    <h1 class="blog__title">{{ blog.title }}</h1>

    <div class="blog-post">
        {% for article in blog.articles %}
        
        <div class="blog-post__top-container">
            <div class="blog-post__image">
                {% if article.image %}
                    {% include 'responsive-image' with
                        image: article.image,
                        max_width: 480,
                        max_height: 480
                    %}
                {% endif %}
            </div>
            <div class="blog-post__meta-container">
                <h2 class="blog-post__title">
                    {{ article.title }}
                </h2>
                <p class="blog-post__date">
                    {{ article.published_at | time_tag: format: 'month_day_year' }}
                </p>
            </div>
        </div>
        

        <div class="blog-post__content  rte">
            {{ article.content }}
        </div>

        {% if forloop.last != true %}
            {% include 'separator', with class: "blog-post__separator" %}
        {% endif %}


    {% endfor %}
    </div>
    
</div>