<div class="product-quantity  product-page__quantity-wrapper">
    <button class="product-quantity__button  product-quantity__button--decrement">
        <span class="visually-hidden">Decrease Quantity:</span>
        {% include 'icon-minus' %}
    </button>
    <input 
        class="product-quantity__quantity" 
        type="number" 
        id="Quantity" 
        {% if is_cart_page %}
            name="updates[]"
            value="{{ item.quantity }}"
        {% else %}
            name="quantity"
            value="1" 
        {% endif %}
        min="1" 
        pattern="[0-9]*"
    >
    <button class="product-quantity__button  product-quantity__button--increment">
        <span class="visually-hidden">Increase Quantity:</span>
        {% include 'icon-plus' %}
    </button>
</div>