.cart__title {
    margin-bottom: 60px;
}

.cart-form {
    display: flex;
    flex-direction: column;
}

.cart-update {
    align-self: flex-end;
    margin-bottom: 40px;
}

.cart-table {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    margin-bottom: 40px;
}

.cart-table__header-cell--title {
    flex-basis: 50%;
}

.cart-table__header-cell--quantity,
.cart-table__header-cell--total {
    flex-basis: 25%;
}

.cart-table__column {
    flex-shrink: 1;
}

.cart-table__column--quantity,
.cart-table__column--total {
    flex-basis: 25%;
    max-width: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-table__column--image {
}

.cart-table__column--title {
    padding-left: 10px;
    padding-right: 10px;
    flex-basis: 200px;
    flex-grow: 1;
}

.cart-table__product-title {
    display: block;
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.8px;
    margin-bottom: 10px;
}

.cart-table__product-remove {
    color: black;
    letter-spacing: 0.6px;
}

.cart-table__row {
    display: flex;
    position: relative;
    padding: 10px 0;
    align-items: center;

    &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        top: 0;
        background: black;
    }

    &:last-child::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        bottom: 0;
        background: black;
    }
}

.cart-bottom {
    display: flex;
    align-items: flex-start;
}

.cart-instructions {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.cart-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px 0 40px;
}

.cart-details__subtotal {
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 0.8px;
}

.cart-details__subtotal-price {
    font-weight: 400;
    font-size: 18px;
}

.cart-details__shipping-note {
    font-size: 12px;
}

.cart-submit {
    width: 200px;
}

.cart-instructions__label {
    font-weight: 400;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.cart-instructions__textarea {
    position: relative;
    display: block;
    padding: 20px;
    border: none;
    background-color: $color-background-three;
    border-radius: 5px;
    letter-spacing: 0.8px;

    &:focus {
        outline: none;
        border: 3px solid $color-background-one;
        padding: 20px - 3px;
    }

    &::placeholder {
        letter-spacing: 0.8px;
        font-weight: 300;
    }
}
