.cart__title {
    margin-bottom: 80px;
}

.cart-table {
    margin: auto;
    margin-bottom: 40px;
}

.cart-table__column--title {
    padding-left: 10px;
    padding-right: 10px;
}

.cart-table__product-title {
    display: block;
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.8px;
    margin-bottom: 10px;
}
