<div class="about  container">
    {% include 'responsive-image' with
        image: section.settings.image,
        max_width: 480,
        max_height: 480,
        wrapper_class: 'about__image-wrapper' %}
    <div class="about__second-container">
        <h1 class="about__title">{{ section.settings.title }}</h1>
        <div class="about__description  rte">
            {{ section.settings.text }}
        </div>
    </div>
</div>

{% schema %}
  {
    "name": "About page",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "textarea",
            "id": "text",
            "label": "Main text"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        }
    ]
  }
{% endschema %}
