<section class="carousel  container">
  <div class="glide">
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides">
          {% for block in section.blocks %}
            <li class="glide__slide">{% include 'responsive-image' with
                    image: block.settings.image,
                    max_width: 480,
                    max_height: 480
                %}</li>
          {% endfor %}
      </ul>
      <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<">{% include 'icon-chevron' %}</button>
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">">{% include 'icon-chevron' %}</button>
      </div>
      <div class="glide__bullets" data-glide-el="controls[nav]">
          {% for block in section.blocks %}
            <button class="glide__bullet" data-glide-dir="={% increment count %}"></button>
          {% endfor %}
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Carousel",
    "settings": [
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "id": "image",
            "type": "image_picker",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Carousel",
        "category": "Image"
      }
    ]
  }
{% endschema %}
