<section class="featured-collection  container">
  {% if section.settings.title != blank %}
    <h2 class="featured-collection__title  section-title">{{ section.settings.title | escape }}</h2>
  {% endif %}

  {% assign collection = collections[section.settings.collection] %}
  
  {% for product in collection.products limit: 6 %}
    {% include 'product' %}
  {% endfor %}
</section>

{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }
{% endschema %}
