<div class="separator  container">
  {% include 'separator' %}
</div>

{% schema %}
  {
    "name": "Separator",
    "settings": [
      {
        "type": "select",
        "id": "size",
        "label": "Size",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "large"
      }
    ],
    "presets": [
      {
        "name": "Separator",
        "category": "Utility"
      }
    ]
  }
{% endschema %}
