<div class="separator container">
  <hr class="separator__line{% if section.settings.size == 'small' %}  separator__line--small{% endif %}" />
</div>

<style>
  :root {
    --color-separator: {{ section.settings.separator_color }};
  }
</style>

{% schema %}
  {
    "name": "Separator",
    "settings": [
      {
        "type": "color",
        "id": "separator_color",
        "label": "Color"
      },
      {
        "type": "select",
        "id": "size",
        "label": "Size",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "large"
      }
    ],
    "presets": [
      {
        "name": "Separator",
        "category": "Utility"
      }
    ]
  }
{% endschema %}
