<div class="separator container">
  <hr class="separator__line" />
</div>

<style>
  :root {
    --color-separator: {{ section.settings.separator_color }};
  }
</style>

{% schema %}
  {
    "name": "Separator",
    "settings": [
      {
        "type": "color",
        "id": "separator_color",
        "label": "Color"
      }
    ],
    "presets": [
      {
        "name": "Separator",
        "category": "Utility"
      }
    ]
  }
{% endschema %}
