<div class="tag-list  container" data-section-id="{{ section.id }}">
  
  <h2 class="tag-list__title  section-title">{{ section.settings.title }}</h2>

    {% assign count = 0 %}
  
    <ul class="tag-list__list">
      {% for block in section.blocks %}
          <li class="tag-list__item">
            <span class="tag-list__item-icon">{% include 'icon-flower' %}</span>
            <span class="tag-list__item-text">{{ block.settings.text }}</span>
          </li>
      {% endfor %}
    </ul>
  
</div>

{% schema %}
  {
    "name": "Tag list",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }
    ],
    "blocks": [
      {
        "type": "tag",
        "name": "Tag",
        "settings": [
          {
            "id": "text",
            "type": "text",
            "label": "Tag"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Tag list",
        "category": "Text"
      }
    ]
  }
{% endschema %}