.about {
    display: flex;
    flex-direction: column;

    @include media-query('medium-up') {
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }
}

.about__title {
    font-family: $font-body;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

.about__image-wrapper {
    width: 300px;
    border-radius: 5px;
    overflow: hidden;
    order: 2;
    box-shadow: #787878 0 0 93px -36px;
    margin: auto;

    @include media-query('medium-up') {
        flex-basis: 30%;
        order: 1;
        margin-right: 60px;
        width: auto;
    }
}

.about__second-container {
    order: 1;
    flex-basis: 0;
    flex-grow: 1;

    @include media-query('medium-up') {
        order: 2;
    }
}

.about__description {
    letter-spacing: 0.8px;
    line-height: 24px;
    margin-bottom: 40px;

    @include media-query('medium-up') {
        margin-bottom: 0;
    }
}
