.contact__title {
    text-align: center;
    margin-bottom: 40px;
}

.contact__description {
    margin-bottom: 60px;
    text-align: center;
    letter-spacing: 0.6px;
    line-height: 26px;
}

.contact__form {
    display: flex;
    flex-wrap: wrap;
}

.contact__form-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    margin-bottom: 40px;
    
    @include media-query('medium-up') {
        &--half {
            width: 50%;
        }
    }
}

.contact__form-label,
.contact__legend {
    font-weight: 400;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.contact__legend {
    margin-bottom: 20px;
}

.contact__form-input {
    border: none;
    border-bottom: 3px solid $color-background-two;
    padding: 10px 0;
    letter-spacing: 0.8px;
    
    &:focus {
        outline: none;
        border-bottom: 3px solid $color-background-one;
    }
    
    &::placeholder {
        letter-spacing: 0.8px;
        font-weight: 300;
    }
}

.contact__form-textarea {
    position: relative;
    display: block;
    padding: 20px;
    border: none;
    background-color: $color-background-three;
    border-radius: 5px;
    letter-spacing: 0.8px;

    &:focus {
        outline: none;
        border: 3px solid $color-background-one;
        padding: 20px - 3px;
    }

    &::placeholder {
        letter-spacing: 0.8px;
        font-weight: 300;
    }
}

.contact__form-button {
    margin: auto;
    padding: 8px 14px;
    background-color: $color-background-two;
    color: $color-text-two;
    font-weight: 400;
    border-radius: 5px;
    text-decoration: none;
    letter-spacing: 0.8px;

    &:focus {
        color: $color-text-two;
    }

    &:hover {
        background-color: $color-background-one;
        color: $color-highlight-one;
        box-shadow: rgba(0, 0, 0, 0.35) 0 1px 3px 1px;
        transform: translateY(-1px);
    }
}

.contact__options {
    border: none;
    padding: 0;
}

// Checkboxes
input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 3px solid $color-background-two;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
    width: 10px;
    top: -5px;
    left: 5px;
    border-radius: 0;
    border-color: $color-background-one;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}