$collection-item-padding: 30px;
$inventory-diameter: 70px;

.featured-collection {
  display: flex;
  flex-wrap: wrap;
  max-width: $grid-max-width;
}

.featured-collection__title {
  flex-basis: 100%;
  text-align: center;
  margin-bottom: 40px;
}

.featured-collection__item {
  position: relative;
  width: 100 / 3 * 1%;
  flex-shrink: 1;
  padding: $collection-item-padding;
  height: 100%;
  text-align: center;
  text-decoration: none;

  &:nth-child(even) {
    .featured-collection__item-inventory {
      background-color: $color-inventory-two;
    }
  }
}

.featured-collection__item-inventory {
  position: absolute;
  top: $collection-item-padding - ($inventory-diameter / 2);
  right: $collection-item-padding - ($inventory-diameter / 2);
  background-color: $color-inventory-one;
  color: #000000;
  display: flex;
  flex-direction: column;
  width: $inventory-diameter;
  height: $inventory-diameter;
  border-radius: $inventory-diameter;
  z-index: 1;
  justify-content: center;
  align-items: center;
  transform: rotate(25deg);
}

.featured-collection__item-inventory-number {
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
}

.featured-collection__item-inventory-text {
  display: inline-block;
  font-size: 18px;
  margin-bottom: 5px;
}

.featured-collection__item-title {
  color: #000000;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 10px;
}

.featured-collection__item-price {
  color: #000000;
  font-weight: 200;
}
