.footer {
    padding-top: 0;
}

.footer__separator {
    padding-bottom: 80px;
}

.footer__menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.footer__menu-list-item {
    position: relative;
    padding: 0 0 15px 0;
    margin: 0 5px 10px;
}

.footer__menu-link {
    font-size: 20px;
    padding: 0 10px;
    text-decoration: none;
    color: $color-text-one;

    &:hover,
    &--active,
    &:focus {
        color: $color-text-one;
    }
}

.footer__social-list {
    list-style: none;
    margin: 20px 0 50px;
    padding: 0;
    display: flex;
    justify-content: center;
}

.footer__social-list-item-link {
    padding: 0 20px;

    &--facebook {
        svg {
            fill: #444444;

            &:hover {
                fill: $color-facebook;
            }
        }
    }

    &--instagram {
        svg {
            fill: #444444;

            &:hover {
                fill: $color-instagram;
            }
        }
    }

    &--pinterest {
        svg {
            fill: #444444;

            &:hover {
                fill: $color-pinterest;
            }
        }
    }

    svg {
        height: 40px;
        width: auto;
        transition: fill 0.125s ease-in-out;
    }
}

.footer__logo-container {
    display: block;
    margin: auto;
    text-align: center;
}

.footer__logo {
    width: 300px;
    height: auto;
}

.footer__attribution {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-style: italic;
    font-weight: 300;
}
