.hero {
  display: flex;
  height: 500px;
  background-size: cover;
  background-position: center;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  
  @include media-query('medium-up') {
    height: 700px;
    justify-content: center;
  }
}

.hero__title {
  font-family: $font-body;
  letter-spacing: 0.8px;
  text-transform: none;
  font-weight: 600;
  display: inline-block;
  text-align: center;
  line-height: 60px;
  letter-spacing: 1.6px;
  font-size: 30px;
  padding: 0 40px;
  background-color: rgba(#000000, 0.5);
  color: #ffffff;
  margin: 0;
  margin-top: 150px;
  width: 100%;
  
  @include media-query('medium-up') {
    height: 56px;
    margin-top: 0;
    margin-bottom: 60px;
    line-height: 56px;
    font-size: 40px;
    width: auto;
  }
}

.hero__subtitle {
  font-family: $font-body;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  line-height: 40px;
  font-size: 22px;
  padding: 0 40px;
  padding-bottom: 10px;
  letter-spacing: 1.4px;
  background-color: rgba(#000000, 0.5);
  color: #ffffff;
  margin: 0;
  width: 100%;

  @include media-query('medium-up') {
    height: 56px;
    margin-bottom: 60px;
    line-height: 56px;
    font-size: 34px;
    padding-bottom: 0;
    width: auto;
  }
}

.hero__chevron {
  fill: $color-highlight-one;
  width: 80px;
  position: absolute;
  bottom: 0;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}