.product-page {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media-query('medium-up') {
        text-align: left;
        flex-direction: row;
        align-items: flex-start;
    }
}

.product-page__images {
    flex-basis: 40%;
    flex-shrink: 0;
    width: 300px;
    margin-bottom: 30px;

    @include media-query('medium-up') {
        width: auto;
    }
}

.product-page__details {
    flex-grow: 1;
    padding-left: 30px;
}

.product-page__title {
    font-family: $font-body;
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 400;
    letter-spacing: 1.2px;
    margin-bottom: 0;
}

.product-page__sale {
    margin-top: 10px;
    font-size: 12px;
    padding: 3px 6px;
    text-transform: uppercase;
    background-color: $color-background-one;
    color: $color-text-two;
    font-weight: 500;
    letter-spacing: 1px;
    display: inline-block;
}

.product-page__description {
    line-height: 24px;
    letter-spacing: 0.8px;
    margin-bottom: 20px;
    white-space: normal;
}

.product-page__cart-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media-query('medium-up') {
        align-items: flex-start;
    }
}

.product-page__price-wrapper {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.8px;
    margin-bottom: 20px;
}

.product-page__price-comparison {
    opacity: 0.6;
}

.product-page__quantity-wrapper {
    margin-bottom: 20px;
}
