$tag-bottom-margin: 10px;

.tag-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tag-list__title {
    margin-bottom: 50px;
}

.tag-list__list {
    display: inline-block;
    margin-bottom: -$tag-bottom-margin;
    padding: 0;
    margin: 0;

    @include media-query('medium-up') {
        columns: 2;
        column-width: 250px;
    }
}

.tag-list__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    color: #000;
    font-size: 18px;
    letter-spacing: 0.6px;
    margin: 0 10px $tag-bottom-margin;
    font-weight: 400;
}

.tag-list__item-icon {
    margin-right: 10px;

    svg {
        height: 20px;
    }
}

.tag-list__item-text {
    margin-top: -3px;
}
