@charset 'UTF-8';

/**
 * Primrose & Willow | Built with Slate
 */
@import '~normalize.css/normalize';
@import '~@glidejs/glide/src/assets/sass/glide.core';
@import '~@glidejs/glide/src/assets/sass/glide.theme';

// Settings
@import './variables';

// Tools
@import './tools/mixins';
@import './tools/functions';

// Core
@import './core/forms';
@import './core/helpers';
@import './core/layout';
@import './core/media';
@import './core/responsive-tables';
@import './core/rte';
@import './core/sections';
@import './core/typography';

// Components
@import './components/announcement';
@import './components/buttons';
@import './components/hero-banner';
@import './components/icons';
@import './components/placeholders';
@import './components/product';
@import './components/responsive-images';

// Sections
@import './sections/about';
@import './sections/blog-posts';
@import './sections/contact';
@import './sections/carousel';
@import './sections/collection-list';
@import './sections/cta-cards';
@import './sections/events';
@import './sections/featured-collection';
@import './sections/footer';
@import './sections/header';
@import './sections/hero';
@import './sections/images-with-tags';
@import './sections/image-with-text';
@import './sections/shop';
@import './sections/separator';
@import './sections/welcome';

// Templates
@import './templates/blog';
@import './templates/collection';
@import './templates/gift_card';
@import './templates/product';
